{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudNest</title>
    {% block styles %}
    {% bootstrap_css %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/light.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static "assets/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/styler.css" %}">
    <link rel="stylesheet" href="{% static "assets/quilt.css" %}">
    <link rel="stylesheet" href="{% static "assets/detail.css" %}">
    <link rel="stylesheet" href="{% static "assets/cart.css" %}">
    <link rel="stylesheet" href="{% static "assets/order.css" %}">
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock  %}



    <!-- Remove the container if you want to extend the Footer to full width. -->
    

    <footer class="text-center" style="background-color: #154734; color: #d4d1d1;">
      <div class="container pt-2 pb-1"></div>
    
      <!-- Copyright, Email & Social Media -->
      <div class="d-flex justify-content-between align-items-center p-3" style="color: #d4d1d1; padding-bottom: 1.5rem;">
        <span>© 2024 Matrika</span>
    
        <!-- Centered Email -->
        <span style="flex-grow: 1; text-align: center;">info@matrika.co.ke</span>
    
        <div>
          <!-- Social Media Icons -->
          <a class="mx-2" href="#!" role="button" style="color: #d4d1d1;"><i class="fab fa-facebook-f"></i></a>
          <a class="mx-2" href="#!" role="button" style="color: #d4d1d1;"><i class="fab fa-twitter"></i></a>
          <a class="mx-2" href="#!" role="button" style="color: #d4d1d1;"><i class="fab fa-google"></i></a>
          <a class="mx-2" href="#!" role="button" style="color: #d4d1d1;"><i class="fab fa-instagram"></i></a>
          <a class="mx-2" href="#!" role="button" style="color: #d4d1d1;"><i class="fab fa-linkedin"></i></a>
          <a class="mx-2" href="#!" role="button" style="color: #d4d1d1;"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </footer>
    
    
    
    
  

  
       
  

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static "assets/script.js" %}"></script>
    <script src="{% static "assets/scripty.js" %}"></script>
    {% bootstrap_javascript %}

    <script>
      function updateCartCount() {
          fetch("{% url 'cart_count_api' %}")
              .then(response => response.json())
              .then(data => {
                  document.getElementById("cart-count").innerText = data.cart_count;
              });
      }
  
      // Call this function whenever an item is added
      document.addEventListener("DOMContentLoaded", function () {
          updateCartCount();
      });
  </script>
    {% endblock %}
</body>
</html>
