{% extends "base.html" %} 
{%load static%} 
{% load bootstrap5 %}
{% block content %}


<div class="carousel-container">
    {% for mattress in mattresses %}
    <div class="mySlides animate">
        {% comment %} <img src="{{ mattress.image.url }}" alt="{{ mattress.type }}"> {% endcomment %}
        <img src="{% static "assets/mattress_1.png" %}" alt="slide" />
        {% comment %} <div class="text">{{ mattress.get_type_display }}</div> {% endcomment %}
    </div>
    
    <div class="mySlides animate">
        <img src="{% static "assets/mattress_2.png" %}" alt="slide" />
        {% comment %} <div class="text">Plain Mattress</div> {% endcomment %}
    </div>
    
    <div class="mySlides animate">
        <img src="{% static "assets/mattress_3.png" %}" alt="slide" />
        {% comment %} <div class="text">Quilted Mattress</div> {% endcomment %}
    </div>
    
    <div class="mySlides animate">
        <img src="{% static "assets/mattress_1.png" %}" alt="slide" class="center-block"/>
        {% comment %} <div class="text">Quilted Mattress</div> {% endcomment %}
    </div>
    
    <div class="mySlides animate">
        <img src="{% static "assets/mattress_2.png" %}" alt="slide" class="center-block"/>
        {% comment %} <div class="text">Bedding</div> {% endcomment %}
    </div>
    {% endfor %}
    
    <!-- Next and previous buttons -->
    <a class="prev" onclick="prevSlide()"><i class="fa fa-arrow-right"></i></a>
    <a class="next" onclick="nextSlide()"><i class="fa fa-arrow-left"></i></a>
    
    <!-- The dots/circles -->
    <div class="dots-container">
        <div class="circle-dot">
            <span class="dots" onclick="currentSlide(1)"></span>
        </div>
        <div class="circle-dot">
            <span class="dots" onclick="currentSlide(2)"></span>
        </div>
        <div class="circle-dot">
            <span class="dots" onclick="currentSlide(3)"></span>
        </div>
        <div class="circle-dot">
            <span class="dots" onclick="currentSlide(4)"></span>
        </div>
        <div class="circle-dot">
            <span class="dots" onclick="currentSlide(5)"></span>
        </div>
    </div>
</div>

    {% comment %} <div class="button-container">
        <a href="{% url 'mattress_page' %}" class="custom-button" id="button1">
            Mattresses
        </a>
        <a href="{% url 'bedding_page' %}" class="custom-button" id="button2">
            Bedding
        </a>
    </div> {% endcomment %}
    <div class="product-img-container">
        <div class="product-img-card">
            <img class="stubborn" src="{% static "assets/mattress_3.png" %}">
            <p>Mattresses</p>
            <a href="#" class="shop-now">Shop Now</a>
        </div>
        <div class="product-img-card">
            <img src="{% static "assets/mattress_3.png" %}">
            <p>Bedding</p>
            <a href="#" class="shop-now">Shop Now</a>
        </div>
    </div>

    
    <section class="about-section">
        <div class="about-container">
            <div class="about-text">
                <h2 id="about-title">About Us</h2>
                <p>Welcome to our premium bedding store, where comfort meets quality. We specialize in high-quality mattresses, pillows, duvets, and bedsheets designed for ultimate relaxation. Our mission is to provide the best sleep experience with eco-friendly and durable bedding products.</p>
                <a href="#" class="learn-more-btn">Learn More</a>
            </div>
            <div class="about-image">
                <img src="{% static "assets/mattress_3.png" %}" alt="Bedding Products">
            </div>
        </div>
    </section>

    

    <div class="services">
        <div class="img-container">
            <div class="img-card">
              <img src="{% static "assets/delivery-truck.png" %}">
              <p>Delivery accross the country</p>
            </div>
            <div class="img-card">
              <img src="{% static "assets/high-quality.png" %}">
              <p>High Quality Items</p>
            </div>
            <div class="img-card">
              <img src="{% static "assets/cash-on-delivery.png" %}">
               <p>Payment on Deliver</p>
            </div>
          </div>
    </div>


{% endblock %}