
{%load static%} 
{% load bootstrap5 %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/light.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static "assets/forms.css" %}">
</head>
<body>
    <div class="page-container">
        <div class="login-container">
            <h1>Login</h1>
            <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
                <br>
    
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                <input type="checkbox" id="togglePassword"> Show Password
                <br>
    
                <button class="log" type="submit">Login</button>
                <p class="log-reg"><a href="{% url 'register' %}">CREATE AN ACCOUNT</a></p>
            </form>
    
            <p><a class="log-button" href="{% url 'reset_password' %}">Forgot your password?</a></p>
    
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        document.getElementById('togglePassword').addEventListener('click', function() {
            let passwordInput = document.getElementById('password');
            passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
        });
    </script>
    
    
    {% endblock %}
</body>
</html>




{% comment %} <h1>Login</h1>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Login</button>
</form>

<p><a href="{% url 'reset_password' %}">Forgot your password?</a></p>
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %} {% endcomment %}




