{% extends "base.html" %} 
{%load static%} 
{% load bootstrap5 %}
{% block content %}

<h1>{{ type|capfirst }} Mattress - {{ thickness }} Inch</h1>

<form method="post" action="">
    {% csrf_token %}
    <label for="size">Choose a size:</label>
    <select name="size" id="size" required>
        <option value="3.5x6">3.5 x 6 (42 x 74 inches)</option>
        <option value="4x6">4 x 6 (48 x 74 inches)</option>
        <option value="5x6">5 x 6 (60 x 74 inches)</option>
        <option value="6x6">6 x 6 (72 x 74 inches)</option>
    </select>

    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity" min="1" value="1" required>

    <button type="submit">Add to Cart</button>
</form>

{% if mattresses %}
    <h2>Details:</h2>
    <ul>
        {% for mattress in mattresses %}
            <li>Type: {{ mattress.get_type_display }}</li>
            <li>Size Options: {{ mattress.size }}</li>
            <li>Price: ${{ mattress.price }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No details available for this mattress.</p>
{% endif %}


<a href="{% url 'Home' %}">Back to Home</a>

{% endblock %}
