
<nav class="cont">
    <div class="zesty">
        <span class="texty">
            <p><i class="fa fa-phone"></i> +254 715326477 , +254 757377860 <a align="right" href="#Contact-Us">Contact Us</a></p>
        </span>
    </div>

    <nav id="header" class="navbar navbar-fixed-top">
        <div id="header-container" class="container navbar-container">
            <div id="navbar" class="">
                <ul class="nav navbar-nav">
                    <li><a id="list" href="{% url 'Home' %}">Home</a></li>
                    <li class="dropdown">
                        <a id="bout" class="dropbtn" href="{% url 'mattress_page' %}">Mattresses <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'plain_mattress_page' %}">Plain Mattress</a></li>
                            <li><a href="{% url 'quilted_mattress_page' %}">Quilted Mattress</a></li>
                        </ul>
                    </li>
                    {% comment %} <li><a id="tact" class="" href="#Bedding">Bedding</a></li> {% endcomment %}
                    <li class="dropdown">
                        <a id="tact" class="dropbtn" href="{% url 'bedding_page' %}">Bedding<i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#Sheets">Bed Sheets</a></li>
                            <li><a href="#Pillows">Pillows</a></li>
                            <li><a href="#Duvets">Duvets</a></li>
                        </ul>
                    </li>
                    <li><a id="mat" href="#About-Us">About Us</a></li>
                </ul>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="#">Matrika</a>
                </div>
                    <div class="usery">
                        <a id="search" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a id="user" href=""><i class="fa fa-user" aria-hidden="true"></i></a>
                        <a id="cart" href="{% url "cart_page" %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </div>
            </div>
        </div>
        
    </nav>
</nav>
<hr>