{% extends "base.html" %} 
{%load static%} 
{% load bootstrap5 %}
{% block content %}

<h1>Order Details - Order ID: {{ order.id }}</h1>

<div class="order-details">
    <h2>Order Summary</h2>
    <p><strong>Status:</strong> {{ order.status|capfirst }}</p>
    <p><strong>Total Price:</strong> ${{ order.total_price }}</p>
    <p><strong>Shipping Address:</strong> {{ order.shipping_address }}</p>
    <p><strong>Billing Address:</strong> {{ order.billing_address }}</p>

    <h3>Items in this Order:</h3>
    <ul>
        {% for item in order.get_order_items %}
            <li>{{ item.product_name }} x{{ item.quantity }} - ${{ item.total_price }}</li>
        {% endfor %}
    </ul>
</div>


{% endblock %}